html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #242424;   
    position: relative;
}

#viewport {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
}