html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #eee;
    font: 1vw Arial, Helvetica;
    text-align: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-device-pixel-ratio: 3/2), 
    only screen and (min-device-pixel-ratio: 1.5) {
    html, body {
        font-size: 2.0vw;
    }
}

body {
    background: #242424;   
    position: relative;
}

#viewport {
    line-height: 0;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    background: #000;
}

.box {
    text-align: left;
    position: absolute;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1000;
    line-height: 1.4em;
}

#fullscreen {
    top: 1em;
    left: 1em;
    cursor: pointer;
}

#fullscreen:hover {
    background: rgba(50, 50, 50, 0.8);
}

#info {
    top: 1em;
    right: 1em;
    display: none;
}

#fps {
    bottom: 1em;
    left: 1em;
}

.interactions {
    bottom: 1em;
    right: 1em;
}

.interactions h2 {
    margin: 0;
}

.interactions ul {
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}